@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.modal,
.overlay {
  @apply fixed top-0 left-0 w-full h-full;
}

.overlay {
  @apply bg-gray-600 opacity-70 z-40 cursor-pointer;
}

.modal {
  @apply z-50 flex justify-center items-center;
}

.about-info-title {
  @apply mr-2 text-xs md:text-base text-secondary font-semibold;
}

.about-info-value {
  @apply text-xs md:text-base text-gray-400 ml-1;
}

.box-shadow {
  @apply rounded-xl shadow-xl my-4 px-3 md:px-9 py-6 border-[1px] border-gray-400/20;
}

.box-icon {
  @apply w-4 md:w-5 2xl:w-5 mr-2 stroke-primary;
}

.box-title {
  @apply text-primary font-bold text-sm md:text-base text-left;
}

.section-title {
  @apply font-black text-3xl md:text-5xl text-secondary leading-[3.7rem] text-center;
}

.section-subtitle {
  @apply font-medium px-6 md:px-0 text-sm md:text-lg text-gray-200 text-center;
}

.structure-code {
  @apply bg-primary w-10 py-1 px-2 md:py-2 md:px-3 text-xs md:text-base text-white;
}

.structure-title {
  @apply mt-2 md:mt-0 text-xs md:text-base leading-loose text-primaryDark;
}

.structure-box {
  @apply bg-secondary-lite rounded-lg py-4 px-2 md:px-7 md:flex md:gap-5 text-center items-center;
}

.outlineReactiveIcon {
  @apply hover:text-primary hover:stroke-primary transform hover:scale-110 hover:cursor-pointer;
}

.reactiveSocialIcon {
  @apply transform hover:scale-125 duration-150;
}

.reactiveText {
  @apply hover:text-primary hover:cursor-pointer transform duration-150 hover:scale-105;
}

.reactiveButton {
  @apply text-white bg-primary font-semibold hover:bg-primary/80 transition duration-200 ease-in-out px-4 md:px-7 py-2 rounded-md focus:outline-none focus:ring-0 md:text-base leading-6 hover:shadow-lg;
}
.reactiveButtonDelete {
  @apply text-white bg-red-600 hover:bg-red-300 hover:text-secondary transition duration-500 ease-in-out px-4 md:px-7 py-3 rounded-md focus:outline-none focus:ring-0 font-medium text-sm md:text-base leading-6;
}
.reactiveButtonClass {
  @apply text-white bg-primary hover:bg-primary-2 hover:text-secondary transition duration-500 ease-in-out px-4   rounded-md focus:outline-none focus:ring-0 font-medium text-sm md:text-base;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #596474;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #596474;
}
html {
  scroll-behavior: smooth;
}
